## max. code with =============================================================

# IDE settings
.vscode/

# R settings
.Rprofile

# Lib. managers
.pixi/
.renv/

pixi.lock

# Data dirs
download/
results/
results_major_review/
intern/

# Extra dirs
bash/